[submodule "addons/EnumToIcon/EnumToStringDatabase"]
	path = addons/EnumToIcon/EnumToStringDatabase
	url = https://github.com/LiamBoyajian/EnumToStringDatabase
[submodule "addons/gdUnit4"]
	path = addons/gdUnit4
	url = https://github.com/godot-gdunit-labs/gdUnit4.git
